* {
  margin: 0;
  overflow: hidden;
}

svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#rect {
  stroke-dasharray: 780;
  stroke-dashoffset: 0;
  animation: moveRect 3s ease alternate infinite;
}

#circle {
  stroke-dasharray: 540;
  stroke-dashoffset: 0;
  fill: white;
  animation: moveCircle 3s ease alternate infinite;
}

#text{
  opacity: 0;
  animation: moveText 3s ease alternate infinite;
}

@keyframes moveRect {
  to {
    stroke-dashoffset: 780;
  }
}

@keyframes moveCircle {
  100% {
    stroke-dashoffset: 540;
    fill: #149538;
  }
}

@keyframes moveText {
  60%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}