* {
  margin: 0;
  overflow: hidden;
}

svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#letter {
  animation: letter 2s ease-in-out forwards;
}

@keyframes letter {
  to {
    transform: translateY(220px);
  }
}

#tri {
  animation: tri 2s 2s ease-in-out forwards;
}

@keyframes tri {
  from,
  to {
    opacity: 0;
  }
}

#tri2 {
  animation: tri2 2s 2s ease-in-out forwards;
  opacity: 0;
}

@keyframes tri2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    d: path(
      "M92 218H396.5L710.5 217.5L420.813 434.304C406.441 445.06 386.663 444.924 372.44 433.971L92 218Z"
    );
  }
}

#frame {
  animation: frame 0.5s 4s ease-in-out forwards;
}

@keyframes frame {
  to{
    transform: translateX(1000px);
  }
}